<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> MeDR: Sammen om det vigtige </title>
</head>
<body>

    <!-- LOGIN-FORM -->

    <section id="loginForm" class="login">
        <form>
            <label for="email">Email</label>
            <input id="email" name="email" type="text" placeholder="Enter your email" required>
    
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your password" required>
    
            <button type="submit" id="loginSubmit">Login</button>
        </form>
    </section>


    <!-- APPLICATION STARTS HERE -->

    <section class="application">

        <!-- HEADER -->
        <section class="welcome-user">
            <h1 id="welcomeUser">Welcome </h1> 
            <button id="logoutBtn"> Logout </button>
        </section>

        <br><br>

        <!-- PROFILE -->
        <section class="user-profile">

            <!-- PROFILE INFO -->
            <div class="user-profile-info">

                <h1> Min Profil </h1>
                
                <span for="userProfileUserName"> Brugernavn: </span> <span id="userProfileUserName"> </span> <br>

                <span for="userProfileName"> Navn: </span> <span id="userProfileName"> </span> <br>

                <span for="userProfileEmail"> Email: </span> <span id="userProfileEmail"> </span> <br>

                <span for="userProfilePassword"> Password: </span> <span id="userProfilePassword"> </span>

            </div>


            <!-- MY INTERESTS -->
            <div class="user-profile-interest">

                <h1> Mine Interesser </h1>

                <input id="checkTVA" type="checkbox" data-interest-id="">
                <label for="checkTVA"> TVA </label>
            
                <br>
            
                <input id="checkSport" type="checkbox" data-interest-id="">
                <label for="checkSport"> Sport </label>
            
                <br>
            
                <input id="checkBagedyst" type="checkbox" data-interest-id="1">
                <label for="checkBagedyst"> Den Store Bagedyst </label>
            
                <br>
            
                <input id="checkKenderTypen" type="checkbox" data-interest-id="3">
                <label for="checkKenderTypen"> Kender du typen </label>
            </div>

        </section>

        <br><br>

        <!-- Matching Users -->
        <section class="matching-users">

            <h1> Explore Matches </h1>
            <p id="exploreMatches"> </p>

        </section>
        



    </section>



</body>

<!-- SCRIPTS FOR THE APPLICATION -->
    <script src="js/script.js" type="module" async></script>
    <script src="js/session.js" type="module" async></script>
    <script src="js/interests.js" type="module" async></script>
    <script src="js/matches.js" type="module" async></script>
    <script src="js/profile.js" type="module" async></script>
    <script src="js/chats.js" type="module" async></script>

</html>
