<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> MeDR: Sammen om det vigtige </title>
</head>
<body>

    <!-- LOGIN-FORM -->

    <section class="login">

        <form>
            <input>
            <button type="submit"> Login </button>
        </form>

    </section>


    <!-- APPLICATION STARTS HERE -->

    <section class="application">

        <h1> Welcome </h1>
        <h1> This is a test :) </h1>

    </section>


</body>

<!-- SCRIPTS FOR THE APPLICATION -->
    <script src="js/script.js" type="module" async></script>
    <script src="js/session.js" type="module" async></script>

</html>
