* {
    background-color: rgb(225, 225, 225);
}

/* /////////////////////////////////////////////////////////////////////////// */
/* LOGIN SECTION */
.login {
    display: block;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* APPLICATION STYLING */
.application {
    display: none;
}

